# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Distribution / packaging
env/
build/
dist/
.eggs/
*.egg-info/

# Local data
MANIFEST
mybin.py

# Temporary data
*.sw[opn]
*~

# Translations
*.mo

# Unit test
.tox/
.cache/
